@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

/* CONFIGURACIÓN */
*,
*::after,
*::before
    box-sizing: border-box

/* VARS */
:root
    --font: 'Roboto', sans-serif
    --bg-color: #f0f0f0
    --width-container: 1200px
    --gutter: 1rem
    --container-max-width: 84rem

/* ESTILOS GENERALES */
body
    background-color: var(--bg-color)
    font-family: var(--font)
    font-size: 18px

p
    line-height: 27px

img
    vertical-align: top
    width: 100%

/* CONTAINER */
.container
    max-width: 90%
    width: var(--width-container)
    margin: 20px auto
    overflow: hidden

    &-full
        width: 100%
        padding: 0 40px
        margin: 20px auto

    &-sm
        width: 75%
        margin: 20px auto

/* GRID */
.grid
    display: grid
    gap: 20px

@for $i from 1 through 12
    .col-#{$i}
        grid-template-columns: repeat($i, 1fr)

@for $i from 1 through 12
    .row-#{$i}
        grid-template-rows: repeat($i, 1fr)

@for $i from 1 through 12
    .span-#{$i}
        grid-column: span $i

@media screen and (max-width: 992px)
    @for $i from 1 through 12
        .md-col-#{$i}
            grid-template-columns: repeat($i, 1fr)
    @for $i from 1 through 12
        .md-span-#{$i}
            grid-column: span $i

@media screen and (max-width: 576px)
    @for $i from 1 through 12
        .sm-col-#{$i}
            grid-template-columns: repeat($i, 1fr)
    @for $i from 1 through 12
        .sm-span-#{$i}
            grid-column: span $i

/* COMPONENTS */
.card
    padding: 40px
    background: #fff
    border-radius: 3px
    box-shadow: 0px 0px 30px rgba(221, 211, 211,0.3)

    &-tec
        padding: 40px
        background: #fff
        border-radius: 3px
        &:hover
            box-shadow: 5px 0px 30px rgba(221, 211, 211,1)

.nav
    display: flex
    flex-wrap: wrap

    & .container
        display: flex
        flex-wrap: wrap
        margin: 0 auto

    & .icon
        background: #e2e2e2
        color: #292929
        text-decoration: none
        display: flex
        align-items: center
        text-align: center
        padding: 14px 19px
        transition: .3s ease all
        font-size: 18px
        margin-top: 14px
        margin-bottom: 14px
        margin-left: 14px
        margin-right: 14px
        border-radius: 100%

        &:hover
            background: #d1d1d1

    & .name
        display: flex
        align-items: center
        text-align: center
        padding: 14px 0px
        transition: .5s ease all
        margin-top: 5px
        margin-bottom: 5px
        margin-right: 14px
        text-decoration: none
        background: none
        color: #000000
        font-weight: 900
        font-size: 2.4rem
        &:hover
            color: transparent
            background-size: cover
            background-image: linear-gradient(147deg,#f90fd8,#f54377 26%,#fc1c1c 50%,#ffc30d 75%,#72fb59)
            background-clip: text

.separator
    flex: 1 1 0%

/* FORMULARIOS */
form *
    font-family: var(--font)

    &.input
        padding: 10px 15px
        border-radius: 3px
        border: 1px solid #d6d6d6
        transition: .3s ease all
        width: 100%
        margin-bottom: 20px

        &:focus
            border: 1px solid #641ee7
            outline: none

.btn
    background: #e75e1e
    border: none
    cursor: pointer
    color: #fff
    display: inline-block
    padding: 10px 15px
    border-radius: 3px
    text-align: center
    line-height: 22px
    transition: .3s ease all
    font-weight: 700
    text-decoration: none

    &:hover
        background: #cc541c

    &.green
        background: #00a04a

        &:hover
            background: #01853f

    &.red
        background: #da0f00

        &:hover
            background: #b90c00

/* FUENTES */
h1, h2, h3, h4, h5, h6
    margin-top: 0

.display
    font-weight: 700

    &-xl
        font-size: 64px
    &-lg
        font-size: 54px
    &-sm
        font-size: 44px

.title-gradiant
    color: transparent
    background-size: cover
    background-image: linear-gradient(147deg,#f90fd8,#f54377 26%,#fc1c1c 50%,#ffc30d 75%,#72fb59)
    background-clip: text

/* HELPERS */
.dark-blue
    color: #010053

.blue
    color: #003cff

.yellow
    color: #ebe700

.purple
    color: #ff00f2

.blue-ligth
    color: #00eeff

.green-dark
    color: #1aad00

.orange
    color: #ffa600

.text-orange
    color: #ff9138

.text-center
    text-align: center

.text-left
    text-align: left

.text-right
    text-align: right

@for $i from 1 through 14
    .font-#{$i * 4}
        font-size: $i * 4px

.m-0
    margin: 0

.p-0
    padding: 0

@for $i from 1 through 25
    .w-#{$i * 4}
        width: $i * 4px

@for $i from 1 through 25
    .h-#{$i * 4}
        height: $i * 4px

@for $i from 1 through 25
    .m-#{$i * 4}
        margin: $i * 4px

@for $i from 1 through 25
    .p-#{$i * 4}
        padding: $i * 4px

@for $i from 1 through 25
    .mt-#{$i * 4}
        margin-top: $i * 4px

@for $i from 1 through 25
    .pt-#{$i * 4}
        padding-top: $i * 4px

@for $i from 1 through 25
    .mb-#{$i * 4}
        margin-bottom: $i * 4px

@for $i from 1 through 25
    .pb-#{$i * 4}
        padding-bottom: $i * 4px

@for $i from 1 through 25
    .ml-#{$i * 4}
        margin-left: $i * 4px

@for $i from 1 through 25
    .pl-#{$i * 4}
        padding-left: $i * 4px

@for $i from 1 through 25
    .mr-#{$i * 4}
        margin-right: $i * 4px

@for $i from 1 through 25
    .pr-#{$i * 4}
        padding-right: $i * 4px

@for $i from 1 through 25
    .mx-#{$i * 4}
        margin-right: $i * 4px
        margin-left: $i * 4px

@for $i from 1 through 25
    .px-#{$i * 4}
        padding-right: $i * 4px
        padding-left: $i * 4px

@for $i from 1 through 25
    .my-#{$i * 4}
        margin-top: $i * 4px
        margin-bottom: $i * 4px

@for $i from 1 through 25
    .py-#{$i * 4}
        padding-top: $i * 4px
        padding-bottom: $i * 4px
