@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* CONFIGURACIÓN */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* VARS */
:root {
  --font: "Roboto", sans-serif;
  --bg-color: #f0f0f0;
  --width-container: 1200px;
  --gutter: 1rem;
  --container-max-width: 84rem;
}

/* ESTILOS GENERALES */
body {
  background-color: var(--bg-color);
  font-family: var(--font);
  font-size: 18px;
}

p {
  line-height: 27px;
}

img {
  vertical-align: top;
  width: 100%;
}

/* CONTAINER */
.container {
  max-width: 90%;
  width: var(--width-container);
  margin: 20px auto;
  overflow: hidden;
}
.container-full {
  width: 100%;
  padding: 0 40px;
  margin: 20px auto;
}
.container-sm {
  width: 75%;
  margin: 20px auto;
}

/* GRID */
.grid {
  display: grid;
  gap: 20px;
}

.col-1 {
  grid-template-columns: repeat(1, 1fr);
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.col-7 {
  grid-template-columns: repeat(7, 1fr);
}

.col-8 {
  grid-template-columns: repeat(8, 1fr);
}

.col-9 {
  grid-template-columns: repeat(9, 1fr);
}

.col-10 {
  grid-template-columns: repeat(10, 1fr);
}

.col-11 {
  grid-template-columns: repeat(11, 1fr);
}

.col-12 {
  grid-template-columns: repeat(12, 1fr);
}

.row-1 {
  grid-template-rows: repeat(1, 1fr);
}

.row-2 {
  grid-template-rows: repeat(2, 1fr);
}

.row-3 {
  grid-template-rows: repeat(3, 1fr);
}

.row-4 {
  grid-template-rows: repeat(4, 1fr);
}

.row-5 {
  grid-template-rows: repeat(5, 1fr);
}

.row-6 {
  grid-template-rows: repeat(6, 1fr);
}

.row-7 {
  grid-template-rows: repeat(7, 1fr);
}

.row-8 {
  grid-template-rows: repeat(8, 1fr);
}

.row-9 {
  grid-template-rows: repeat(9, 1fr);
}

.row-10 {
  grid-template-rows: repeat(10, 1fr);
}

.row-11 {
  grid-template-rows: repeat(11, 1fr);
}

.row-12 {
  grid-template-rows: repeat(12, 1fr);
}

.span-1 {
  grid-column: span 1;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.span-4 {
  grid-column: span 4;
}

.span-5 {
  grid-column: span 5;
}

.span-6 {
  grid-column: span 6;
}

.span-7 {
  grid-column: span 7;
}

.span-8 {
  grid-column: span 8;
}

.span-9 {
  grid-column: span 9;
}

.span-10 {
  grid-column: span 10;
}

.span-11 {
  grid-column: span 11;
}

.span-12 {
  grid-column: span 12;
}

@media screen and (max-width: 992px) {
  .md-col-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .md-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .md-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .md-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .md-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .md-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .md-col-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .md-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .md-col-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .md-col-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .md-col-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .md-col-12 {
    grid-template-columns: repeat(12, 1fr);
  }

  .md-span-1 {
    grid-column: span 1;
  }

  .md-span-2 {
    grid-column: span 2;
  }

  .md-span-3 {
    grid-column: span 3;
  }

  .md-span-4 {
    grid-column: span 4;
  }

  .md-span-5 {
    grid-column: span 5;
  }

  .md-span-6 {
    grid-column: span 6;
  }

  .md-span-7 {
    grid-column: span 7;
  }

  .md-span-8 {
    grid-column: span 8;
  }

  .md-span-9 {
    grid-column: span 9;
  }

  .md-span-10 {
    grid-column: span 10;
  }

  .md-span-11 {
    grid-column: span 11;
  }

  .md-span-12 {
    grid-column: span 12;
  }
}
@media screen and (max-width: 576px) {
  .sm-col-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .sm-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .sm-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .sm-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .sm-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .sm-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .sm-col-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .sm-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .sm-col-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .sm-col-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .sm-col-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .sm-col-12 {
    grid-template-columns: repeat(12, 1fr);
  }

  .sm-span-1 {
    grid-column: span 1;
  }

  .sm-span-2 {
    grid-column: span 2;
  }

  .sm-span-3 {
    grid-column: span 3;
  }

  .sm-span-4 {
    grid-column: span 4;
  }

  .sm-span-5 {
    grid-column: span 5;
  }

  .sm-span-6 {
    grid-column: span 6;
  }

  .sm-span-7 {
    grid-column: span 7;
  }

  .sm-span-8 {
    grid-column: span 8;
  }

  .sm-span-9 {
    grid-column: span 9;
  }

  .sm-span-10 {
    grid-column: span 10;
  }

  .sm-span-11 {
    grid-column: span 11;
  }

  .sm-span-12 {
    grid-column: span 12;
  }
}
/* COMPONENTS */
.card {
  padding: 40px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 30px rgba(221, 211, 211, 0.3);
}
.card-tec {
  padding: 40px;
  background: #fff;
  border-radius: 3px;
}
.card-tec:hover {
  box-shadow: 5px 0px 30px #ddd3d3;
}

.nav {
  display: flex;
  flex-wrap: wrap;
}
.nav .container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.nav .icon {
  background: #e2e2e2;
  color: #292929;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 14px 19px;
  transition: 0.3s ease all;
  font-size: 18px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 14px;
  margin-right: 14px;
  border-radius: 100%;
}
.nav .icon:hover {
  background: #d1d1d1;
}
.nav .name {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 14px 0px;
  transition: 0.5s ease all;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 14px;
  text-decoration: none;
  background: none;
  color: #000000;
  font-weight: 900;
  font-size: 2.4rem;
}
.nav .name:hover {
  color: transparent;
  background-size: cover;
  background-image: linear-gradient(147deg, #f90fd8, #f54377 26%, #fc1c1c 50%, #ffc30d 75%, #72fb59);
  background-clip: text;
}

.separator {
  flex: 1 1 0%;
}

/* FORMULARIOS */
form * {
  font-family: var(--font);
}
form *.input {
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  transition: 0.3s ease all;
  width: 100%;
  margin-bottom: 20px;
}
form *.input:focus {
  border: 1px solid #641ee7;
  outline: none;
}

.btn {
  background: #e75e1e;
  border: none;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 3px;
  text-align: center;
  line-height: 22px;
  transition: 0.3s ease all;
  font-weight: 700;
  text-decoration: none;
}
.btn:hover {
  background: #cc541c;
}
.btn.green {
  background: #00a04a;
}
.btn.green:hover {
  background: #01853f;
}
.btn.red {
  background: #da0f00;
}
.btn.red:hover {
  background: #b90c00;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #e75e1e;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* FUENTES */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.display {
  font-weight: 700;
}
.display-xl {
  font-size: 64px;
}
.display-lg {
  font-size: 54px;
}
.display-sm {
  font-size: 44px;
}

.title-gradiant {
  color: transparent;
  background-size: cover;
  background-image: linear-gradient(147deg, #f90fd8, #f54377 26%, #fc1c1c 50%, #ffc30d 75%, #72fb59);
  background-clip: text;
}

/* HELPERS */
.dark-blue {
  color: #010053;
}

.blue {
  color: #003cff;
}

.yellow {
  color: #ebe700;
}

.purple {
  color: #ff00f2;
}

.blue-ligth {
  color: #00eeff;
}

.green-dark {
  color: #1aad00;
}

.orange {
  color: #ffa600;
}

.text-orange {
  color: #ff9138;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.font-4 {
  font-size: 4px;
}

.font-8 {
  font-size: 8px;
}

.font-12 {
  font-size: 12px;
}

.font-16 {
  font-size: 16px;
}

.font-20 {
  font-size: 20px;
}

.font-24 {
  font-size: 24px;
}

.font-28 {
  font-size: 28px;
}

.font-32 {
  font-size: 32px;
}

.font-36 {
  font-size: 36px;
}

.font-40 {
  font-size: 40px;
}

.font-44 {
  font-size: 44px;
}

.font-48 {
  font-size: 48px;
}

.font-52 {
  font-size: 52px;
}

.font-56 {
  font-size: 56px;
}

.font-60 {
  font-size: 60px;
}

.font-64 {
  font-size: 64px;
}

.font-68 {
  font-size: 68px;
}

.font-72 {
  font-size: 72px;
}

.font-76 {
  font-size: 76px;
}

.font-80 {
  font-size: 80px;
}

.font-84 {
  font-size: 84px;
}

.font-88 {
  font-size: 88px;
}

.font-92 {
  font-size: 92px;
}

.font-96 {
  font-size: 96px;
}

.font-100 {
  font-size: 100px;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.w-4 {
  width: 4px;
}

.w-8 {
  width: 8px;
}

.w-12 {
  width: 12px;
}

.w-16 {
  width: 16px;
}

.w-20 {
  width: 20px;
}

.w-24 {
  width: 24px;
}

.w-28 {
  width: 28px;
}

.w-32 {
  width: 32px;
}

.w-36 {
  width: 36px;
}

.w-40 {
  width: 40px;
}

.w-44 {
  width: 44px;
}

.w-48 {
  width: 48px;
}

.w-52 {
  width: 52px;
}

.w-56 {
  width: 56px;
}

.w-60 {
  width: 60px;
}

.w-64 {
  width: 64px;
}

.w-68 {
  width: 68px;
}

.w-72 {
  width: 72px;
}

.w-76 {
  width: 76px;
}

.w-80 {
  width: 80px;
}

.w-84 {
  width: 84px;
}

.w-88 {
  width: 88px;
}

.w-92 {
  width: 92px;
}

.w-96 {
  width: 96px;
}

.w-100 {
  width: 100px;
}

.h-4 {
  height: 4px;
}

.h-8 {
  height: 8px;
}

.h-12 {
  height: 12px;
}

.h-16 {
  height: 16px;
}

.h-20 {
  height: 20px;
}

.h-24 {
  height: 24px;
}

.h-28 {
  height: 28px;
}

.h-32 {
  height: 32px;
}

.h-36 {
  height: 36px;
}

.h-40 {
  height: 40px;
}

.h-44 {
  height: 44px;
}

.h-48 {
  height: 48px;
}

.h-52 {
  height: 52px;
}

.h-56 {
  height: 56px;
}

.h-60 {
  height: 60px;
}

.h-64 {
  height: 64px;
}

.h-68 {
  height: 68px;
}

.h-72 {
  height: 72px;
}

.h-76 {
  height: 76px;
}

.h-80 {
  height: 80px;
}

.h-84 {
  height: 84px;
}

.h-88 {
  height: 88px;
}

.h-92 {
  height: 92px;
}

.h-96 {
  height: 96px;
}

.h-100 {
  height: 100px;
}

.m-4 {
  margin: 4px;
}

.m-8 {
  margin: 8px;
}

.m-12 {
  margin: 12px;
}

.m-16 {
  margin: 16px;
}

.m-20 {
  margin: 20px;
}

.m-24 {
  margin: 24px;
}

.m-28 {
  margin: 28px;
}

.m-32 {
  margin: 32px;
}

.m-36 {
  margin: 36px;
}

.m-40 {
  margin: 40px;
}

.m-44 {
  margin: 44px;
}

.m-48 {
  margin: 48px;
}

.m-52 {
  margin: 52px;
}

.m-56 {
  margin: 56px;
}

.m-60 {
  margin: 60px;
}

.m-64 {
  margin: 64px;
}

.m-68 {
  margin: 68px;
}

.m-72 {
  margin: 72px;
}

.m-76 {
  margin: 76px;
}

.m-80 {
  margin: 80px;
}

.m-84 {
  margin: 84px;
}

.m-88 {
  margin: 88px;
}

.m-92 {
  margin: 92px;
}

.m-96 {
  margin: 96px;
}

.m-100 {
  margin: 100px;
}

.p-4 {
  padding: 4px;
}

.p-8 {
  padding: 8px;
}

.p-12 {
  padding: 12px;
}

.p-16 {
  padding: 16px;
}

.p-20 {
  padding: 20px;
}

.p-24 {
  padding: 24px;
}

.p-28 {
  padding: 28px;
}

.p-32 {
  padding: 32px;
}

.p-36 {
  padding: 36px;
}

.p-40 {
  padding: 40px;
}

.p-44 {
  padding: 44px;
}

.p-48 {
  padding: 48px;
}

.p-52 {
  padding: 52px;
}

.p-56 {
  padding: 56px;
}

.p-60 {
  padding: 60px;
}

.p-64 {
  padding: 64px;
}

.p-68 {
  padding: 68px;
}

.p-72 {
  padding: 72px;
}

.p-76 {
  padding: 76px;
}

.p-80 {
  padding: 80px;
}

.p-84 {
  padding: 84px;
}

.p-88 {
  padding: 88px;
}

.p-92 {
  padding: 92px;
}

.p-96 {
  padding: 96px;
}

.p-100 {
  padding: 100px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-36 {
  margin-top: 36px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-44 {
  margin-top: 44px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-52 {
  margin-top: 52px;
}

.mt-56 {
  margin-top: 56px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-68 {
  margin-top: 68px;
}

.mt-72 {
  margin-top: 72px;
}

.mt-76 {
  margin-top: 76px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-84 {
  margin-top: 84px;
}

.mt-88 {
  margin-top: 88px;
}

.mt-92 {
  margin-top: 92px;
}

.mt-96 {
  margin-top: 96px;
}

.mt-100 {
  margin-top: 100px;
}

.pt-4 {
  padding-top: 4px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-24 {
  padding-top: 24px;
}

.pt-28 {
  padding-top: 28px;
}

.pt-32 {
  padding-top: 32px;
}

.pt-36 {
  padding-top: 36px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-44 {
  padding-top: 44px;
}

.pt-48 {
  padding-top: 48px;
}

.pt-52 {
  padding-top: 52px;
}

.pt-56 {
  padding-top: 56px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-64 {
  padding-top: 64px;
}

.pt-68 {
  padding-top: 68px;
}

.pt-72 {
  padding-top: 72px;
}

.pt-76 {
  padding-top: 76px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-84 {
  padding-top: 84px;
}

.pt-88 {
  padding-top: 88px;
}

.pt-92 {
  padding-top: 92px;
}

.pt-96 {
  padding-top: 96px;
}

.pt-100 {
  padding-top: 100px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-44 {
  margin-bottom: 44px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-52 {
  margin-bottom: 52px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-68 {
  margin-bottom: 68px;
}

.mb-72 {
  margin-bottom: 72px;
}

.mb-76 {
  margin-bottom: 76px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-84 {
  margin-bottom: 84px;
}

.mb-88 {
  margin-bottom: 88px;
}

.mb-92 {
  margin-bottom: 92px;
}

.mb-96 {
  margin-bottom: 96px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-28 {
  padding-bottom: 28px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pb-36 {
  padding-bottom: 36px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-44 {
  padding-bottom: 44px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pb-52 {
  padding-bottom: 52px;
}

.pb-56 {
  padding-bottom: 56px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-64 {
  padding-bottom: 64px;
}

.pb-68 {
  padding-bottom: 68px;
}

.pb-72 {
  padding-bottom: 72px;
}

.pb-76 {
  padding-bottom: 76px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-84 {
  padding-bottom: 84px;
}

.pb-88 {
  padding-bottom: 88px;
}

.pb-92 {
  padding-bottom: 92px;
}

.pb-96 {
  padding-bottom: 96px;
}

.pb-100 {
  padding-bottom: 100px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-28 {
  margin-left: 28px;
}

.ml-32 {
  margin-left: 32px;
}

.ml-36 {
  margin-left: 36px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-44 {
  margin-left: 44px;
}

.ml-48 {
  margin-left: 48px;
}

.ml-52 {
  margin-left: 52px;
}

.ml-56 {
  margin-left: 56px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-64 {
  margin-left: 64px;
}

.ml-68 {
  margin-left: 68px;
}

.ml-72 {
  margin-left: 72px;
}

.ml-76 {
  margin-left: 76px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-84 {
  margin-left: 84px;
}

.ml-88 {
  margin-left: 88px;
}

.ml-92 {
  margin-left: 92px;
}

.ml-96 {
  margin-left: 96px;
}

.ml-100 {
  margin-left: 100px;
}

.pl-4 {
  padding-left: 4px;
}

.pl-8 {
  padding-left: 8px;
}

.pl-12 {
  padding-left: 12px;
}

.pl-16 {
  padding-left: 16px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-24 {
  padding-left: 24px;
}

.pl-28 {
  padding-left: 28px;
}

.pl-32 {
  padding-left: 32px;
}

.pl-36 {
  padding-left: 36px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-44 {
  padding-left: 44px;
}

.pl-48 {
  padding-left: 48px;
}

.pl-52 {
  padding-left: 52px;
}

.pl-56 {
  padding-left: 56px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-64 {
  padding-left: 64px;
}

.pl-68 {
  padding-left: 68px;
}

.pl-72 {
  padding-left: 72px;
}

.pl-76 {
  padding-left: 76px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-84 {
  padding-left: 84px;
}

.pl-88 {
  padding-left: 88px;
}

.pl-92 {
  padding-left: 92px;
}

.pl-96 {
  padding-left: 96px;
}

.pl-100 {
  padding-left: 100px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-28 {
  margin-right: 28px;
}

.mr-32 {
  margin-right: 32px;
}

.mr-36 {
  margin-right: 36px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-44 {
  margin-right: 44px;
}

.mr-48 {
  margin-right: 48px;
}

.mr-52 {
  margin-right: 52px;
}

.mr-56 {
  margin-right: 56px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-64 {
  margin-right: 64px;
}

.mr-68 {
  margin-right: 68px;
}

.mr-72 {
  margin-right: 72px;
}

.mr-76 {
  margin-right: 76px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-84 {
  margin-right: 84px;
}

.mr-88 {
  margin-right: 88px;
}

.mr-92 {
  margin-right: 92px;
}

.mr-96 {
  margin-right: 96px;
}

.mr-100 {
  margin-right: 100px;
}

.pr-4 {
  padding-right: 4px;
}

.pr-8 {
  padding-right: 8px;
}

.pr-12 {
  padding-right: 12px;
}

.pr-16 {
  padding-right: 16px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-24 {
  padding-right: 24px;
}

.pr-28 {
  padding-right: 28px;
}

.pr-32 {
  padding-right: 32px;
}

.pr-36 {
  padding-right: 36px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-44 {
  padding-right: 44px;
}

.pr-48 {
  padding-right: 48px;
}

.pr-52 {
  padding-right: 52px;
}

.pr-56 {
  padding-right: 56px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-64 {
  padding-right: 64px;
}

.pr-68 {
  padding-right: 68px;
}

.pr-72 {
  padding-right: 72px;
}

.pr-76 {
  padding-right: 76px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-84 {
  padding-right: 84px;
}

.pr-88 {
  padding-right: 88px;
}

.pr-92 {
  padding-right: 92px;
}

.pr-96 {
  padding-right: 96px;
}

.pr-100 {
  padding-right: 100px;
}

.mx-4 {
  margin-right: 4px;
  margin-left: 4px;
}

.mx-8 {
  margin-right: 8px;
  margin-left: 8px;
}

.mx-12 {
  margin-right: 12px;
  margin-left: 12px;
}

.mx-16 {
  margin-right: 16px;
  margin-left: 16px;
}

.mx-20 {
  margin-right: 20px;
  margin-left: 20px;
}

.mx-24 {
  margin-right: 24px;
  margin-left: 24px;
}

.mx-28 {
  margin-right: 28px;
  margin-left: 28px;
}

.mx-32 {
  margin-right: 32px;
  margin-left: 32px;
}

.mx-36 {
  margin-right: 36px;
  margin-left: 36px;
}

.mx-40 {
  margin-right: 40px;
  margin-left: 40px;
}

.mx-44 {
  margin-right: 44px;
  margin-left: 44px;
}

.mx-48 {
  margin-right: 48px;
  margin-left: 48px;
}

.mx-52 {
  margin-right: 52px;
  margin-left: 52px;
}

.mx-56 {
  margin-right: 56px;
  margin-left: 56px;
}

.mx-60 {
  margin-right: 60px;
  margin-left: 60px;
}

.mx-64 {
  margin-right: 64px;
  margin-left: 64px;
}

.mx-68 {
  margin-right: 68px;
  margin-left: 68px;
}

.mx-72 {
  margin-right: 72px;
  margin-left: 72px;
}

.mx-76 {
  margin-right: 76px;
  margin-left: 76px;
}

.mx-80 {
  margin-right: 80px;
  margin-left: 80px;
}

.mx-84 {
  margin-right: 84px;
  margin-left: 84px;
}

.mx-88 {
  margin-right: 88px;
  margin-left: 88px;
}

.mx-92 {
  margin-right: 92px;
  margin-left: 92px;
}

.mx-96 {
  margin-right: 96px;
  margin-left: 96px;
}

.mx-100 {
  margin-right: 100px;
  margin-left: 100px;
}

.px-4 {
  padding-right: 4px;
  padding-left: 4px;
}

.px-8 {
  padding-right: 8px;
  padding-left: 8px;
}

.px-12 {
  padding-right: 12px;
  padding-left: 12px;
}

.px-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.px-24 {
  padding-right: 24px;
  padding-left: 24px;
}

.px-28 {
  padding-right: 28px;
  padding-left: 28px;
}

.px-32 {
  padding-right: 32px;
  padding-left: 32px;
}

.px-36 {
  padding-right: 36px;
  padding-left: 36px;
}

.px-40 {
  padding-right: 40px;
  padding-left: 40px;
}

.px-44 {
  padding-right: 44px;
  padding-left: 44px;
}

.px-48 {
  padding-right: 48px;
  padding-left: 48px;
}

.px-52 {
  padding-right: 52px;
  padding-left: 52px;
}

.px-56 {
  padding-right: 56px;
  padding-left: 56px;
}

.px-60 {
  padding-right: 60px;
  padding-left: 60px;
}

.px-64 {
  padding-right: 64px;
  padding-left: 64px;
}

.px-68 {
  padding-right: 68px;
  padding-left: 68px;
}

.px-72 {
  padding-right: 72px;
  padding-left: 72px;
}

.px-76 {
  padding-right: 76px;
  padding-left: 76px;
}

.px-80 {
  padding-right: 80px;
  padding-left: 80px;
}

.px-84 {
  padding-right: 84px;
  padding-left: 84px;
}

.px-88 {
  padding-right: 88px;
  padding-left: 88px;
}

.px-92 {
  padding-right: 92px;
  padding-left: 92px;
}

.px-96 {
  padding-right: 96px;
  padding-left: 96px;
}

.px-100 {
  padding-right: 100px;
  padding-left: 100px;
}

.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-28 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.my-36 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-44 {
  margin-top: 44px;
  margin-bottom: 44px;
}

.my-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-52 {
  margin-top: 52px;
  margin-bottom: 52px;
}

.my-56 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.my-64 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.my-68 {
  margin-top: 68px;
  margin-bottom: 68px;
}

.my-72 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-76 {
  margin-top: 76px;
  margin-bottom: 76px;
}

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my-84 {
  margin-top: 84px;
  margin-bottom: 84px;
}

.my-88 {
  margin-top: 88px;
  margin-bottom: 88px;
}

.my-92 {
  margin-top: 92px;
  margin-bottom: 92px;
}

.my-96 {
  margin-top: 96px;
  margin-bottom: 96px;
}

.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-28 {
  padding-top: 28px;
  padding-bottom: 28px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-36 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-44 {
  padding-top: 44px;
  padding-bottom: 44px;
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-52 {
  padding-top: 52px;
  padding-bottom: 52px;
}

.py-56 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.py-68 {
  padding-top: 68px;
  padding-bottom: 68px;
}

.py-72 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-76 {
  padding-top: 76px;
  padding-bottom: 76px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-84 {
  padding-top: 84px;
  padding-bottom: 84px;
}

.py-88 {
  padding-top: 88px;
  padding-bottom: 88px;
}

.py-92 {
  padding-top: 92px;
  padding-bottom: 92px;
}

.py-96 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
